@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  background-color: #f1f1f1;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #515150;
  font-size: 16px;
  font-weight: 600;
}

header,
main,
footer {
  padding: 0 16px;
}

header {
  background-color: #fff;
  position: sticky;
  top: 0;
}
header nav {
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.logo span {
  color: #6495ed;
}

.menu {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: inherit;
}
.menu a {
  color: inherit;
  text-decoration: none;
}
.menu a:nth-child(2) {
  margin-right: 20px;
  margin-left: 20px;
}
.menu a:hover {
  border-bottom: 3px solid #6495ed;
}

.banner {
  height: 80vh;
  max-height: 650px;
  background-image: url("./../assets/img-fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner div {
  color: #fff;
  font-size: 28px;
  margin: 0 8px;
  background-color: rgba(10, 144, 119, 0.7019607843);
  border: 1px solid;
  padding: 0 20px;
  border-radius: 4px;
  text-align: center;
}
.banner div h1,
.banner div p {
  margin: 20px;
}

section,
.container-limitador {
  max-width: 1024px;
  margin: 0 auto;
}

h2 {
  font-weight: normal;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

h2 ~ p {
  text-align: center;
  line-height: 32px;
}

section {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  margin: 32px auto;
}

iframe,
.container-quartos,
.container-descricoes {
  border-radius: 16px;
  margin-top: 16px;
}

.container-quartos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
}
.container-quartos .quarto {
  text-align: center;
  flex-basis: 300px;
  border-bottom: 3px solid #008080;
}
.container-quartos .quarto img {
  width: 100%;
  border-radius: 16px;
}
.container-quartos a {
  color: inherit;
  text-decoration: none;
}
.container-quartos a p {
  margin: 8px auto;
}

.container-descricoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.container-descricoes .descricoes {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  flex: 1 1 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-descricoes .descricao {
  height: 100%;
}
.container-descricoes h3 {
  margin-bottom: 8px;
  align-self: flex-start;
}
.container-descricoes img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

footer {
  background-color: #008080;
  padding-top: 20px;
}
footer .container-limitador {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
footer .container-limitador h3,
footer .container-limitador a {
  flex-basis: 230px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}
footer .container-limitador h3 img,
footer .container-limitador a img {
  margin-right: 8px;
}
footer .container-limitador div {
  border-top: 1px solid #515150;
  text-align: center;
  color: #fff;
  padding: 16px 0;
  flex-basis: 100%;
}

.banner-quartos {
  height: 30vh;
  background-image: url("./../assets/img-fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.quartos {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.quartos .quarto {
  text-align: center;
  flex-basis: 300px;
}
.quartos .quarto img {
  width: 100%;
  height: 200px;
  border-radius: 16px;
}

.quarto-informacoes h3 {
  text-align: center;
  text-transform: uppercase;
}

.quarto-informacoes ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 20px;
  margin-top: 20px;
}

@media (max-width: 1013px) {
  footer .container-limitador h3 {
    flex-basis: 100%;
  }
  footer .container-limitador {
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    padding: 20px 0;
  }
  header nav .logo {
    font-size: 32px;
  }
}
@media (max-width: 595px) {
  .banner {
    display: none;
  }
  .descricoes img,
.banner-quartos {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
